#friends-display-link {
  display: block;
  background-color: #fafafa;
  text-align: center;
  padding: 15px 0px;
  font-size: 18px;
  margin-bottom: 10px;
  margin-top: -20px;
}

#friends-display-link i {
  color: rgba(0, 0, 0, 0.3);
}

.friends-screen {
  padding: 0px var(--horizontal-space);
}

.friends-screen__channel {
  margin-top: 25px;
  border-top: var(--main-border);
  padding-top: 15px;
}

.friends-screen__channel-header {
  margin-bottom: 30px;
  display: flex;
  justify-content: space-between;
  color: rgba(0, 0, 0, 0.5);
}

@keyframes hideSplashScreen {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    visibility: hidden;
    /* 단지 브라우저가 이  element를 무시하도록 하는 것.
  실제로 숨긴다거나 제거하고싶다면 사용하면 안된다. JavaScript사용해야 함.*/
  }
}

#splash-screen {
  background-color: var(--yellow);
  position: absolute;
  height: 100vh;
  width: 100vw;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  animation: hideSplashScreen 0.4s ease-in-out forwards;
  animation-delay: 2s;
  background-image: url("https://search.pstatic.net/common/?src=http%3A%2F%2Fblogfiles.naver.net%2FMjAxNzEwMTFfMTIg%2FMDAxNTA3NjgzOTkxMjY1.hTIoSr9jd1Vv94zeMNFvu1cxZDDMe3vv_s1smHNJQFog.ynwqnJaxrVm2ui30FIrInsZ6zI7rANBhT2K1aXRzwo4g.JPEG.qazwsx2002%2F%25BB%25E7%25C1%25F8_1_%25C5%25AC%25B7%25A1%25BD%25C3_%25B7%25CE%25BE%25E2_%25B4%25EB%25B1%25D4%25B8%25F0_%25BE%25F7%25B5%25A5%25C0%25CC%25C6%25AE.jpg&type=a340");
  background-size: cover;
  background-repeat: no-repeat;
}
