.user-component {
  justify-content: space-between;
}
.user-component,
.user-component__column:first-child {
  display: flex;
  align-items: center;
}

.user-component__avatar {
  width: 90px;
  height: 90px;
  border-radius: 30px;
  margin-right: 20px;
  margin-top: 10px;
}

.user-component__title {
  font-size: 22px;
  font-weight: 600;
}

.user-component__subtitle {
  margin-top: 8px;
  font-size: 17px;
  color: rgba(0, 0, 0, 0.5);
}

.user-component__avatar--xl {
  width: 100px;
  height: 100px;
}

.user-component__avatar--sm {
  width: 80px;
  height: 80px;
  border-radius: 25px;
}

.user-component__avatar--xss {
  width: 70px;
  height: 70px;
  border-radius: 25px;
  margin-left: 25px;
}

.user-component__title--not-bold {
  font-weight: normal;
}

.user-component__column:last-child {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.user-componet__time {
  margin-bottom: 10px;
  display: block;
}

.user-component__column__profiletext {
  border-radius: 20px;
  width: 400px;
  text-align: center;
  border: 3px solid greenyellow;
}
